html {
  box-sizing: border-box;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  width: 80%;
  margin: 100px auto;
  text-align: center;
}

ul {
  margin-top: 300px;
  list-style: none;
  padding: 0;
  font-size: 2.4rem;
}

#word {
  display: none;
}

.underscores {
  font-size: 4rem;
  font-weight: bold;
}

.keyboard {
  margin: auto;
  width: 400px;
}

.keyboard button {
  margin: 5px;
  height: 40px;
  width: 50px;
  background: rgba(13, 13, 226, 0.808);
  color: white;
  padding: 5px;
  font-size: 1.5rem;
  cursor: pointer;
}
