html {
  box-sizing: border-box;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  width: 80%;
  margin: 100px auto;
  text-align: center;
}

ul {
  margin-top: 300px;
  list-style: none;
  padding: 0;
  font-size: 2.4rem;
}

#word {
  display: none;
}

.underscores {
  font-size: 4rem;
  font-weight: bold;
}
